<section>
  <h1>mediatrack</h1>
  <p class="muted">track movies, tv, and anime you want to watch and have watched. search via tmdb, subscribe for recommendations.</p>

  <% if user_signed_in? %>
    <p>
      jump to: <%= link_to "movies", movies_path, class: "btn" %>
      <%= link_to "tv shows", tv_path, class: "btn" %>
      <%= link_to "anime", anime_path, class: "btn" %>
    </p>
  <% else %>
    <p>
      <%= link_to "sign in", new_user_session_path, class: "btn" %>
      <%= link_to "create account", new_user_registration_path, class: "btn" %>
    </p>
  <% end %>
</section>
